.right{
    border-style: solid;
    border-width: 0.01rem;
    border-color: rgb(201, 208, 214);
}
.left{
    border-style: solid;
    border-width: 0.01rem;
    border-color: rgb(201, 208, 214);
    border-left: 0;
}

h2{
    margin: 0;
    margin: 0.5rem 0;
}
main{
    height: 80vh;
}
.gatePassD{
    max-width:55% !important ;
    border-radius: 10px;
    margin: auto;
    margin-top: 4rem;
}
.row{
    background: rgb(243,243,243);
    opacity: 80%;
}

img{
    width: 40%;
}


@media screen and (max-width:992px) {
    .gatePassD{
        max-width:70% !important;
        margin: auto;
    }
    main{
        margin-top: 3rem !important;
    }
}

@media screen and (max-width:440px) {
  
    .gatePassD{
        max-width:95% !important;
        margin: auto;
        padding: 1.3rem !important;
    }
    main{
        margin-top: 3rem !important;
    }
}
