<app-nav></app-nav>



<main class="bg-dark bg-opacity-50 gatePassD px-5 py-3 overflow-auto">

    <div class="text-center">
        <button type="button" class="btn fw-bold mb-4 text-white" style="background-color: #3F6BB0;" (click) = "navigate()"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg> Back</button>
    </div>

    <button (click)="htmlPng()" class="btn btn-primary">PNG</button>

      <div id="gatePass">
        <div class="row">
          <div class="col d-flex justify-content-center align-items-center" style="background-color: #3F6BB0;">
              <!-- <p class="text-white mx-1">VISITOR INFORMATION</p> -->
              <h2 class="text-white fs-5">VISITOR INFORMATION</h2>
          </div>
        </div>

        <!-- row 1 -->
        <div class="row">
          <div class="col right">
              <p>Visitor Image</p>
          </div>
          <div class="col left">
             <img class=" img-fluid my-3" src="{{visitorData.vImg}}" alt="">
          </div>
        </div>
        <!-- row 2 -->
        <div class="row">
          <div class="col right">
              <p>Name</p>
          </div>
          <div class="col left">
             <p>{{visitorData.vName}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col right">
              <p>Visitor Mobile Number </p>
          </div>
          <div class="col left">
             <p>{{visitorData.vMobile}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col right">
              <p>Meeting Purpose</p>
          </div>
          <div class="col left">
             <p>{{visitorData.vPov}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col right">
              <p>Comapny address</p>
          </div>
          <div class="col left">
             <p>{{visitorData.vCaddr}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col right">
              <p>Accessories</p>
          </div>
          <div class="col left">
             <p>Laptop: {{visitorData.vLap}}</p>
             <p>Tab: {{visitorData.vTab}}</p>
             <p>Pendrive: {{visitorData.vPen}}</p>
             <p>Other: {{visitorData.vOther}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col right">
              <p>Total Visitor</p>
          </div>
          <div class="col left">
             <p>{{visitorData.totalVis}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col right">
              <p>Employee Name</p>
          </div>
          <div class="col left">
             <p>{{visitorData.empName}}</p>
          </div>
        </div>
        <div class="row" *ngFor="let visitor of visitorData.addVisitor">
          <div class="col right">
              <p>Additional Vistor Name</p>
          </div>
          <div class="col left">
             <p>{{visitor}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col right">
              <p>Visit Date</p>
          </div>
          <div class="col left">
             <p>15-06-22</p>
          </div>
        </div>
        <div class="row">
          <div class="col right">
              <p>In Time</p>
          </div>
          <div class="col left">
             <p>11:00:00</p>
          </div>
        </div>
        <div class="row">
          <div class="col right">
              <p>Out Time</p>
          </div>
          <div class="col left">
             <p>01:05:00</p>
          </div>
        </div>
      </div>




</main>
