<app-nav></app-nav>


<main class="bg-dark bg-opacity-50 form p-5 mt-5 w-50 overflow-auto">
<!-- 
    <div class="text-center bg-white w-50">
        <h6>VISITOR INFORMATION</h6>
    </div>
    <div class="row">
        <div class="col-lg-6 bg-white">col</div>
        <div class="col">col</div>
      </div> -->

      <div class="row mb-2">
        <div class="col field">
            <p>Name</p>
        </div>
        <div class="col">
           <p>Dnyanada</p>
        </div>
      </div>

</main>
