<app-nav></app-nav>

<div class=" title column text-center text-white">
  <h1 class="fs-3 fw-bold m-0">WELCOME TO U-SMART</h1>
</div>
  <main class="bg-dark bg-opacity-50 vVerify p-5 mt-3">
    <form [formGroup]="verifyForm" class ="myForm">

        <div class="form-outline my-1">
          <label class="form-label text-white" for="form2Example1">Enter Visitor Mobile Number </label>
          <input type="text" id="form2Example1" class="form-control" formControlName="mob" name="no" minlength="10" placeholder="Mobile Number"/>
          <button type="submit" (click) = "sendOTP()" class="btn btn-primary btn fw-bold mt-3">Get OTP</button>

          <span class="m-0 p-0" *ngIf="verifyForm.controls['mob'].invalid && (verifyForm.controls['mob'].dirty || verifyForm.controls['mob'].touched)">
            <div class="text-danger">
            Select purpose of visit
          </div>
        </span>

        </div>

        <div class="form-outline my-1 mt-3 text-center" [ngStyle]="{'display': display}" id = "OtpVerification">
          <label class="form-label text-white" for="form2Example1">Verify OTP </label>
          <input type="text" id="form2Example1" class="form-control" formControlName="otp" placeholder="Enter OTP"/>
          <button type="submit" (click) = "goForm()" class="btn btn-primary btn fw-bold mt-3">Verify</button>
        </div>
      </form>
</main>
