/* .head{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgb(4,9,30,0.3),rgba(4,9,30,0.3)), url(../../assets/bg.jpg);
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

} */ 

/*Loader*/


.logo{
    height: 4rem;
}

.login{
    max-width:35% !important ;
    border-radius: 10px;
    margin-top: 8%;
    margin-left: 10%;
}

.btn-primary{
   background-color: #3F6BB0;
   border-color:#3F6BB0;
}

.btn-primary:hover{
    background-color: #476fb0;
   border-color:#476fb0;
}

.text{
    font-size: 1rem;
    float: left;
}

@media screen and (max-width:992px) {
    .login{
        max-width:70% !important;
        margin: auto;
        margin-top: 30%;
    }

}

@media screen and (max-width:440px) {
    .login{
        max-width:85% !important;
    }

}

