.logo{
    height: 2rem;
}

.links{
    float: right;
}

.mob{
    display: none;
}

.desktop{
    margin-left: auto;
}


@media  screen and (max-width:999px) {
    .mob{
        display: block;
    }
    .desktop{
        display: none;
    }
    
}