

.home{
    background-color: #3F6BB0;
    cursor: pointer;
}

.row{
  min-width: 40%;
}
@media  screen and (max-width:999px) {
   .row{
    min-width: 100% !important;
   }
   nav{
    padding: 0;
   }
}
