<app-nav></app-nav>
<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>
<main *ngIf = 'this.sharedService.get("pageshift") == "false"' class="bg-dark bg-opacity-50 checkout px-5 py-3 overflow-auto ">
    <div class="container">
      <ngx-ui-loader></ngx-ui-loader>
        <div class="row text-white title-2">
          <div class="col-lg-2 line d-flex align-items-center p-0">
            <h4 class="m-0">Visitors List</h4>
          </div>
          <div class="col d-flex p-0 count">
            <div class="ccount p-2 rounded d-flex align-items-center bg-custom">
                <h5 class="m-0">Daily Visitors: <p class="d-inline">{{dailyVisitors}}</p></h5>
              </div>
              <div class="ccount p-2 d-flex align-items-center rounded bg-danger">
                <h5 class="m-0">Check Out:<p class="d-inline">{{checkOuts}}</p> </h5>
              </div>
              <div class="ccount p-2 d-flex align-items-center rounded bg-success">
                <h5 class="m-0">Check In:<p class="d-inline">{{checkIns}}</p> </h5>
              </div>
          </div>
          <div class="col-lg d-flex p-0 search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
          </div>
        </div>
      </div>


<!--table-->

  <table class="table table-hover mt-4">
	<thead>
	<tr>
        <th>Sr. No.</th>
        <th >Visitor Name</th>
        <th >Visitor Mobile</th>
        <th>Host Name</th>
        <th >Meeting Purpose</th>
        <th >Entry Time</th>
        <th >Visitor Details</th>
        <th >Check Out</th>
	</tr>
	</thead>
	<tbody *ngFor="let visitor of visitorData, let k = index">
	<tr  >
        <td>{{k + 1}}</td>
        <td>{{visitor.vName}}</td>
        <td>{{visitor.vMobile}}</td>
        <td>{{visitor.empName}}</td>
        <td>{{visitor.vPov}}</td>
        <td>{{visitor.checkinTime}}</td>
        <td><button type="button" class="btn btn-primary" (click) = "nextPage(k)">PASS DETAILS</button></td>
        <td><button type="button" class="btn button btn-danger" (click) = "checkOut(visitor.visitorId)">CHECK OUT</button></td>

	</tr>



	</tbody>
</table>
</main>



