
.form{
    max-width:55% !important ;
    border-radius: 10px;
    margin-top: 8%;
    margin-left: 10%;
}

.btn-primary{
   background-color: #3F6BB0;
   border-color:#3F6BB0;
}
.add{
  margin-top: 2.3rem;
}

#mobCam::-webkit-file-upload-button {
  visibility: hidden;
}

#mobCam{
  content: 'Camera' !important;
  display: inline-block;
  width: 100%;
  border: 2px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 3px;
  padding: 5px 30px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
/* .btn-primary:hover{
    background-color: #476fb0;
   border-color:#476fb0;
} */

p{
    font-size: 20px;
}

.text{
    font-size: 1rem;
    float: left;
}

main{
    height: 70vh;

}

@media screen and (max-width:992px) {
    .form{
        max-width:70% !important;
        margin: auto;
    }
    .form-label{
        font-size: 0.8rem;
    }
    #deskCam{
      display: none;
    }

}

@media screen and (min-width:992px) {
  #mobCam{
    display: none;
  }

}

@media screen and (max-width:440px) {
    .form{
        max-width:95% !important;
        margin: auto;
        padding: 1.3rem !important;
    }

}




