<app-nav></app-nav>


<main class="bg-dark bg-opacity-50 dailyV px-5 py-3 overflow-auto ">

    <div class="container">
        <div class="row text-white title-2">
          <div class="col-lg-2 line d-flex align-items-center p-0">
            <h4 class="m-0">Daily Visitors</h4>
          </div>
          <div class="col d-flex p-0 count">
            <div class="ccount p-2 rounded d-flex align-items-center bg-custom">
                <h5 class="m-0">Daily Visitors: <p class="d-inline">2</p></h5>
              </div>
              <div class="ccount p-2 d-flex align-items-center rounded bg-danger">
                <h5 class="m-0">Check Out:<p class="d-inline">3</p> </h5>
              </div>
              <div class="ccount p-2 d-flex align-items-center rounded bg-success">
                <h5 class="m-0">Check In:<p class="d-inline">4</p> </h5>
              </div>
          </div>
     
          <div class="col-lg d-flex p-0 search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </div>
        </div>
      </div>

      
<!--table-->

  <table class="table table-hover mt-4">
	<thead>
	<tr>
        <th>Sr. No.</th>
        <th >Visitor Name</th>
        <th >Visitor Mobile</th>
        <th>Host Name</th>
        <th >Meeting Purpose</th>
        <th >Entry Time</th>
        <th >Exit Time</th>
        <th >Details</th>
	</tr>
	</thead>
	<tbody>
	<tr>
        <td>1</td>
        <td>Rahul Sharma</td>
        <td>7458632180</td>
        <td>Anil</td>
        <td>Interview</td>
        <td>10:00:00</td>
        <td>12:05:22</td>
        <td><button type="button" class="btn btn-primary">DETAILS</button></td>
        

	</tr>
	<tr>
        <td>1</td>
        <td>Rahul Sharma</td>
        <td>7458632180</td>
        <td>Anil</td>
        <td>Interview</td>
        <td>10:00:00</td>
        <td>12:05:22</td>
        <td><button type="button" class="btn btn-primary">DETAILS</button></td>
        

	</tr>
    <tr>
        <td>1</td>
        <td>Rahul Sharma</td>
        <td>7458632180</td>
        <td>Anil</td>
        <td>Interview</td>
        <td>10:00:00</td>
        <td>12:05:22</td>
        <td><button type="button" class="btn btn-primary">DETAILS</button></td>
        

	</tr>

    
	</tbody>
</table>


</main> 



