<app-nav></app-nav>
<ngx-ui-loader></ngx-ui-loader>
<main class="bg-dark bg-opacity-50 preApp px-5 py-3 overflow-auto ">

    <div class="container">
        <div class="row text-white title-2">
          <div class="col line d-flex align-items-center p-0">
            <h4 class="m-0">Pre-Appointment Visitors</h4>
          </div>

        </div>
      </div>


<!--table-->

  <table class="table table-hover mt-4">
	<thead>
	<tr>
        <th>Sr. No.</th>
        <th >Visitor Name</th>
        <th >Visitor Mobile</th>
        <th>Host Name</th>
        <th >Visit Date</th>
        <th >Visit Status</th>

	</tr>
	</thead>
	<tbody>
	<tr>
        <td>1</td>
        <td>Rahul Sharma</td>
        <td>7458632180</td>
        <td>Anil</td>
        <td>Interview</td>
        <td><button type="button" class="btn button btn-danger">LOGOUT</button></td>


	</tr>
	<tr>
        <td>1</td>
        <td>Rahul Sharma</td>
        <td>7458632180</td>
        <td>Anil</td>
        <td>Interview</td>
        <td><button type="button" class="btn button btn-danger">LOGOUT</button></td>


	</tr>
    <tr>
        <td>1</td>
        <td>Rahul Sharma</td>
        <td>7458632180</td>
        <td>Anil</td>
        <td>Interview</td>
        <td><button type="button" class="btn button btn-danger">LOGOUT</button></td>

	</tr>


	</tbody>
</table>


</main>




