main{
    height: 80vh;
}
.preApp{
    max-width:75% !important ;
    border-radius: 10px;
    margin: auto;
    margin-top: 4rem;
}
.ccount{
    margin: auto;
}
.bg-custom{
    background-color: #3F6BB0;
}
.btn-primary{
    background-color: #3F6BB0;
    border: 0;
    font-size: small;
} 
.button{
    font-size: small;
}
h5{
    font: italic !important;
    font-size: 1rem;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    background-color: rgb(243,243,243);
    opacity: 85%;
  
  }

  th { 
    background: #3F6BB0; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid black; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid rgb(135, 132, 132); 
		position: relative;
		padding-left: 50%; 
    
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 13px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        font-weight: bold;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Sr No."; }
	td:nth-of-type(2):before { content: "Visitor Name"; }
	td:nth-of-type(3):before { content: "Visitor Mobile"; }
	td:nth-of-type(4):before { content: "Host Name"; }
	td:nth-of-type(5):before { content: "Visit Date"; }
	td:nth-of-type(6):before { content: "Visit Status"; }
}


  
@media screen and (max-width:992px) {

    .preApp
{
        max-width:70% !important;
        margin: auto;
    }
    main{
        margin-top: 1.5rem !important;
        margin-bottom: 5rem !important;
    }
    .count{
        padding: 0 !important;
        margin: 0 !important;
        justify-content: space-between;
    }
    h5{
        font-size: 0.85rem !important;
    }

    .ccount{
        margin: 0.7rem 0rem;
    }
}

@media screen and (max-width:440px) {
    h5{
        font-size: 0.85rem !important;
    }
  
    .preApp
{
        max-width:95% !important;
        margin: auto;
        padding: 1.3rem !important;
    }
    main{
        margin-top: 1.5rem !important;
        margin-bottom: 5rem !important;
    }
    .count{
        padding: 0 !important;
        margin: 0 !important;
        justify-content: space-between;
    }
    .ccount{
        margin: 0.7rem 0rem;
       
    }
}

@media screen and (min-height:920px) {
    h5{
        font-size: 1.4rem !important;
    }
 .preApp{
    margin-top: 5rem !important;
    max-width:85% !important ;
 }

}