.dlogo{
    margin-bottom: 1rem;
}

.logo{
    height: 3.5rem;
}

@media screen and (min-width:992px) {
    .dlogo{
        display: none;
    }

}

@media screen and (min-width:750px) {
}


@media screen and (max-width:992px) {

}
