
main{
    height: 45vh;
}
.forgot{
    max-width:40% !important ;
    border-radius: 10px;
    margin: auto;
    margin-top: 4rem;
}

@media screen and (max-width:992px) {
    .forgot{
        max-width:70% !important;
        margin: auto;
    }
    main{
        margin-top: 3rem !important;
    }
}

@media screen and (max-width:440px) {
  
    .forgot{
        max-width:95% !important;
        margin: auto;
        padding: 1.3rem !important;
    }
    main{
        margin-top: 3rem !important;
    }
}
