

<main class="bg-dark bg-opacity-50 forgot px-5 py-3 overflow-auto">

    <div class="text-center mt-4">
        <button [routerLink]="['']" type="button" class="btn fw-bold mb-4 text-white" style="background-color: #3F6BB0;"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg> Back</button>
    </div>

    <form [formGroup] = "resetForm" class ="myForm">

        <div class="form-outline my-1">
          <label class="form-label text-white" for="form2Example1">Enter Organization Security Code</label>
          <input type="text" id="form2Example1" class="form-control" formControlName="userId" placeholder="Security Code"/>
        </div>


        <!-- Submit button -->
        <div class="text-center">
            <!-- <button type="submit" class="btn btn-primary btn w-25 mt-3 mb-4 fw-bold">Submit</button> -->
            <button type="submit" (click) = "resetPasswordInit()"  class="btn btn-primary btn fw-bold mt-3" style="background-color: #3F6BB0;">Submit</button>
        </div>
      </form>
  

</main>
