@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Inter','Poppins' sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.title{
  background-color: #3F6BB0;
  border-radius: 0.3rem;
  margin:auto;
  margin-top:5%;
  margin-left: 30%;
  width: fit-content;
  padding: 10px 10px;
}


@media screen and (max-width:999px) {
  .title{
    margin: auto;
    margin-top: 4rem;
  }

}

@media screen and (min-height:1000px) {
  .title{
    margin-top: 10rem;
  }
}


