<app-nav></app-nav>

<div class=" title column text-center text-white fw-bold">
  <p class="fs-3">WELCOME TO U-SMART</p>
</div>  

<div class="row bg-dark opacity-75 mt-0">

    <div class="col-sm-6 mt-5 mb-5">

      <div class="card w-100 text-center opacity-75 mb-4">
        <div class="card-body text-center "> 
            <div class="column text-center">
                <a href="#" class="text-decoration-none text-dark ">CHECK IN</a>
                <img class="logo mb-2 w-25 ms-3" src="../../assets/logo.svg" alt="Logo">
            </div>       
        </div>
      </div>

      <div class="card w-100 opacity-75">
        <div class="card-body text-center"> 
          <a href="#" class="text-decoration-none text-dark">DAILY VISITOR</a>
          <img class="logo mb-2 w-25 ms-3" src="../../assets/logo.svg" alt="Logo">
        </div>
      </div>
    
    </div>

    <div class="col-sm-6 mt-5">

        <div class="card w-100 opacity-75 mb-4">
            <div class="card-body text-center"> 

              <a href="#" class="text-decoration-none text-dark">CHECK OUT</a>
              <img class="logo mb-2 w-25 ms-3" src="../../assets/logo.svg" alt="Logo">
            </div>
          </div>

          <div class="card w-100 opacity-75">
            <div class="card-body text-center"> 
              <a href="#" class="text-decoration-none text-dark">PRE-APPOINMENT</a>
              <img class="logo mb-2 w-25 ms-3" src="../../assets/logo.svg" alt="Logo">
            </div>
          </div>

    </div>
  </div>