
.container{
  padding: 1.5rem;
  margin: auto;
  margin-top:2%;
  max-width: 60%;
  border-radius: 1.5rem;
  justify-content: space-evenly;
}

h2{
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}

img{
  margin-left: 1rem;
}

.bg-custom{
background: rgb(243,243,243);
padding: 1rem;
margin: 1rem;
border-radius: 1rem;
}


@media screen and (max-width:999px) {
  .container{
    margin: auto;
    max-width: fit-content;
    margin-top: 1rem;
    margin: 0.5rem 0.5rem;
    padding: 1rem;
  }

}

@media screen and (max-height:750px) {
  .container{
    margin-bottom: 4rem;
  }

}

@media screen and (min-height:1000px) {
  .container{
    margin-top:30%;
  }

}
