.card{
    border-radius: 1.5rem;
}

.row{
    max-width:35% !important ;
    border-radius: 10px;
    margin-top: 8%;
    margin-left: 10%;
}

.title{
    background-color: #3F6BB0;
    border-radius: 0.3rem;
    width: 25%;
    height: 100%;
    margin-top: 7%;
    margin-left: 15%;
}